
:root {
  --color-primary: #480059;
  --color-primary-light: #fde9ff;
  --color-accent: #ff75eb;
  --color-white: white;
  --color-black: black;
  --color-black-shadow: rgba(0, 0, 0, 0.5);
  --color-green: #4caf50;
  --color-yellow: #ffc107;
  --color-red: #f44336;
}

/*:root {*/
/*  --color-primary: #4B164C;*/
/*  --color-primary-light: #F8E7F6;*/
/*  --color-accent: #DD88CF;*/
/*  --color-white: #F5F5F5;*/
/*  --color-black: black;*/
/*}*/
