
:root {
  --color-primary: #480059;
  --color-primary-light: #fde9ff;
  --color-primary-soft: #eadfff;
  --color-accent: #ff75eb;
  --color-glow: rgba(255, 128, 247, 0.5);
  --color-white: white;
  --color-black: black;
}
