@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

body{
  background: var(--color-primary-light);
  min-height: 100vh;
  font-family: "DynaPuff", cursive;
}

button{
  font-family: "DynaPuff", cursive;
}

nav,button,h1,footer {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

