.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.profile-page {
  display: flex;
  gap: 28px;
  width: 100%;
  height: 100%;
}

/* Левая карточка профиля */
.profile-card {
  box-sizing: border-box;
  /*flex: 1;*/
  width: 40%;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--color-black-shadow);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: all 0.5s;
  gap: 1rem;
}

.profile-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 30px var(--color-black-shadow);
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 2rem;
  color: var(--color-primary);
}

/* Правая колонка - контейнер для двух карточек */
.right-cards {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 60%;
  height: 100%;
}

/* Одинаковые карточки справа */
.quiz-card {
  height: 50%;
  box-sizing: border-box;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--color-black-shadow);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s;
  gap: 1rem;
}
.quiz-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 30px var(--color-black-shadow);
}

.settings-card {
  gap: 1rem;
  padding: 1rem;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--color-black-shadow);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50%;
  box-sizing: border-box;
  transition: all 0.5s;
}
.settings-card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 30px var(--color-black-shadow);
}
/* Списки информации */
.info-list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /*padding: 0 20px;*/
  flex-direction: column;
  text-align: left;
}

/* Стили для левой карточки */
.profile-card .info-list {
  gap: 0.5rem;
  flex: 0;
}

/* Стили для квиз карточки */
.quiz-card .info-list {
  gap: 0.5rem;
}

/* Стили для карточки настроек */
.settings-card .info-list {
  gap: 0.5rem;
}

/* Базовые элементы информации */
.info-item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ededed;
  border-radius: 20px;
  font-weight: 500;
  color: var(--color-primary);
}

/* Строки настроек */
.setting-row {
  height: 48px;
  border-radius: 20px;
  gap: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  justify-content: space-between;
}

.setting-row > div {
  display: flex;
  align-items: center;
  /*gap: 1rem;*/
  flex: 1;
}

.setting-row .label {
  flex-shrink: 0;
  /*white-space: nowrap;*/
  font-weight: 600;
  color: var(--color-primary);
  width: 100px;
}

.setting-row .value {
  flex: 1;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: var(--color-primary);
  text-align: left;
}

/* Кнопки */
.btn-change {
  flex-shrink: 0;
  width: 100px;
  height: 100%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  box-shadow: 0 0 5px var(--color-black-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-change:hover {
  background-color: var(--color-accent);
  box-shadow: 0 3px 6px var(--color-black-shadow);
  transform: translateY(-2px);
}
@media (max-width: 1024px) {
  .profile-page {
    font-size: 1.1rem;
  }
  .setting-row .label{
    width: 110px;
  }
  .btn-change{
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .profile-page {
    flex-direction: column;
    height: 100%;
    font-size: 1.2rem;
  }
  .profile-card{
    width: 100%;
  }
  .right-cards{
    width: 100%;
  }
  .btn-change{
    font-size: 1.2rem;
    width: auto;
    height: 100%;
  }
  .setting-row .label{
    width: 130px;
  }
}

@media (max-width: 600px) {
  .profile-page{
    gap: 10px;
    font-size: 1.2rem;
  }
  .right-cards{
    gap: 10px;
  }
  .profile-card{
    padding: 10px;
  }
  .quiz-card{
    padding: 10px;
  }
  .settings-card{
    padding: 10px;
  }
  .info-item{
    padding: 10px 10px;
  }
  .setting-row .label{
    width: 120px;
  }
  .btn-change{
    font-size: 1rem;
    width: auto;
    height: 100%;
    transform: scale(1.15);
  }
}

@media (max-width: 400px) {
  .profile-page{
    font-size: 1rem;
  }
  .btn-change{
    padding: 0 7px;
    transform: scale(1);
  }
  .setting-row .value {
    width: 65px;
  }
  .setting-row .label{
    width: 95px;
  }
}
